.title{
  display: flex;
  gap: 20px;
  align-items: flex-end;
  margin-bottom: 40px;
}

.title h1{
  font-size: 32px;
  font-weight: 600;
  color: var(--light-black);
  white-space: pre-line;
  line-height: 30px;
}

.title span{
  font-size: 16px;
  font-weight: 400;
  color: var(--dark-gray);
  white-space: pre-line;
}