.gallery-card{
  width: 100%;
  height: 700px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.gallery-card h3{
  font-size: 20px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.gallery-image{
  height: 500px;
  border-radius: 20px;
  overflow: hidden;
}

.gallery-image img{
  width: 100%;
  height: 100%;
}

.gallery-card p{
  height: 2.5em;
  word-break: break-all;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}