.promotion-wrap{
  padding: 0 8px;
  display: flex;
  justify-content: space-between;
  gap: 16px;
  height: 100%;
}

.promotion-card{
  position: relative;
  display: block;
  border-radius: 20px;
  overflow: hidden;
  flex: 1;
}

.promotion-card:hover img{
  transform: scale(1.1);
}

.promotion-card img{
  width: 100%;
  height: 100%;
  transition: 0.5s;
}

.promotion-text{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 30px;
  z-index: 1;
}

.promotion-text .title{
  flex-direction: column;
  margin-bottom: 30px;
  align-items: flex-start;
}

.promotion-text .title h1{
  color: var(--white);
}

.promotion-text .title span{
  color: var(--cloudy-gray);
  font-weight: 300;
}