.wide-visual-wrap{
  display: flex;
  justify-content: space-between;
  height: 480px;
  padding: 0 8px;
}

.wide-area{
  border-radius: 20px;
  overflow: hidden;
}

.item-area{
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 404px;
  height: 480px;
  overflow-y: auto;
}

.item-area::-webkit-scrollbar{
  transform: translateX(50px);
  background-color: transparent;
  width: 4px;
}
.item-area::-webkit-scrollbar-thumb{
  border-radius: 10px;
  background-clip: padding-box;
  border: 4px solid var(--cloudy-gray);
}

.item-area .product-detail-card{
  flex-direction: row;
  height: 30%;
}

.item-area .product-detail-card .product-text{
  gap: 0px;
  justify-content: space-around;
}


.item-area .cart-button{
  font-size: 18px;
  width: 40px;
  height: 40px;
}